### Load data

In [55]:
import pandas as pd
books_data = pd.read_csv('data/books_data.csv')
books_ratings = pd.read_csv('data/books_rating.csv')

In [56]:
# Titles
books_data_1 = books_data.drop(['image', 'previewLink', 'infoLink', 'publisher', 'ratingsCount'], axis=1, inplace=False)
books_ratings_1 = books_ratings.drop(['Id','Price', 'profileName', 'review/time'], axis=1, inplace=False)

books_data_1.rename(columns={'Title': 'title','publishedDate': 'published_date'}, inplace=True)
books_ratings_1.rename(columns={'Title': 'title','User_id':'user_id',  'review/score': 'score','review/helpfulness': 'helpfulness', 'review/text': 'text', 'review/summary': 'summary'}, inplace=True)

print(list(books_data_1.columns))
print(list(books_ratings_1.columns))

['title', 'description', 'authors', 'published_date', 'categories']
['title', 'user_id', 'helpfulness', 'score', 'summary', 'text']

In [57]:
books_ratings_1['title'] = books_ratings_1['title'].map(lambda s: s.lower() if type(s) == str else s)
books_ratings_1['title'] = books_ratings_1['title'].replace(r"\(.*\)","", regex=True)
books_ratings_1['title'] = books_ratings_1['title'].replace(r"\&","and", regex=True)

books_data_1['title'] = books_data_1['title'].map(lambda s: s.lower() if type(s) == str else s)
books_data_1['title'] = books_data_1['title'].replace(r"\(.*\)","", regex=True)
books_data_1['title'] = books_data_1['title'].replace(r"\&","and", regex=True)

# remove all special characters with regex
books_ratings_1['title'] = books_ratings_1['title'].replace(r"[^a-zA-Z0-9\s]+", "", regex=True)
books_data_1['title'] = books_data_1['title'].replace(r"[^a-zA-Z0-9\s]+", "", regex=True)

In [58]:
# keep only unique titles in books_data_1
books_data_1 = books_data_1.drop_duplicates(subset=['title'], keep='first')

print(books_data_1['title'].value_counts())

title
its only art if its well hung                                                  1
the story of david livingstone                                                 1
red rabbit                                                                     1
the prime movers traits of the great wealth creators                           1
murder at bertrams bower a beacon hill mystery                                 1
                                                                              ..
death benefits a novel                                                         1
saints and angels all around                                                   1
our roommate is missing                                                        1
tree frogs                                                                     1
students solutions manual for johnsonmowrys mathematics a practical odyssey    1
Name: count, Length: 204903, dtype: int64

In [59]:
#books_ratings_1['title'] = books_ratings_1['title'].map(lambda s: 'the hobbit' if (type(s) == str and 'hobbit' in s) else s)
#books_ratings_1['title'] = books_ratings_1['title'].map(lambda s: 'lord of the rings' if (type(s) == str and 'lord of the rings' in s) else s)
#books_ratings_1['title'] = books_ratings_1['title'].map(lambda s: 'pride and prejudice' if (type(s) == str and 'pride & prejudice' in s) else s)
#books_ratings_1['title'] = books_ratings_1['title'].map(lambda s: 'pride and prejudice' if (type(s) == str and 'pride and prejudice' in s) else s)
#books_ratings_1['title'] = books_ratings_1['title'].map(lambda s: 'the great gatsby' if (type(s) == str and 'great gatsby' in s) else s)
#books_ratings_1['title'] = books_ratings_1['title'].map(lambda s: 'to kill a mocking bird' if (type(s) == str and 'mocking bird' in s) else s)
#books_ratings_1['title'] = books_ratings_1['title'].map(lambda s: 'to kill a mocking bird' if (type(s) == str and 'mockingbird' in s) else s)

#books_data_1['title'] = books_data_1['title'].map(lambda s: 'the hobbit' if (type(s) == str and 'hobbit' in s) else s)
#books_data_1['title'] = books_data_1['title'].map(lambda s: 'lord of the rings' if (type(s) == str and 'lord of the rings' in s) else s)
#books_data_1['title'] = books_data_1['title'].map(lambda s: 'pride and prejudice' if (type(s) == str and 'pride & prejudice' in s) else s)
#books_data_1['title'] = books_data_1['title'].map(lambda s: 'pride and prejudice' if (type(s) == str and 'pride and prejudice' in s) else s)
#books_data_1['title'] = books_data_1['title'].map(lambda s: 'the great gatsby' if (type(s) == str and 'great gatsby' in s) else s)
#books_data_1['title'] = books_data_1['title'].map(lambda s: 'to kill a mocking bird' if (type(s) == str and 'mocking bird' in s) else s)
#books_data_1['title'] = books_data_1['title'].map(lambda s: 'to kill a mocking bird' if (type(s) == str and 'mockingbird' in s) else s)

In [60]:
# load book data for books in book ratings
#ratings_titles = books_ratings_1['title'].unique()
#books_data_1 = books_data_1[books_data_1['title'].isin(ratings_titles)]

In [61]:
n_ratings = books_ratings_1.groupby('title').count()['score']>=10
famous_books = n_ratings[n_ratings].index
books_ratings_1 = books_ratings_1[books_ratings_1['title'].isin(famous_books)]

n_ratings_1 = books_ratings_1['title'].value_counts().rename("n_ratings")

books_data_1 = books_data_1.merge(n_ratings_1, on='title', how='inner')
print(books_data_1.columns)

Index(['title', 'description', 'authors', 'published_date', 'categories',
       'n_ratings'],
      dtype='object')

In [62]:
# remove if n_ratings < 10
books_data_1 = books_data_1[books_data_1['n_ratings']>=10]

In [63]:
x = books_ratings_1.groupby('user_id').count()['score'] > 20 # since this is what amazon requires before a user can get recommendations
considerable_users = x[x].index
books_ratings_1 = books_ratings_1[books_ratings_1['user_id'].isin(considerable_users)]
#
# print(books_ratings_1.sample(5))

books_ratings_1['user_id'].value_counts()

user_id
A1D2C0WDCSHUWZ    2996
AFVQZQ8PW0L       2402
A14OJS0VWMOSWO    2399
A1X8VZWTOG8IS6    1428
A1K1JW1C5CUSUZ    1221
                  ...
APJR9066VZWQ7       21
A1O32QKC8RSXR       21
A35SINWH7P0NW8      21
A3DG27KAW6IJ80      21
A1AHI8CUE3OQI4      21
Name: count, Length: 7740, dtype: int64

In [64]:
books_ratings_1['title'].value_counts()

title
pride and prejudice                                                                                   5510
wuthering heights                                                                                     4922
the picture of dorian gray                                                                            3241
wuthering heights                                                                                     3126
little women or meg jo beth and amy                                                                   2995
                                                                                                      ...
experiencing architecture                                                                                1
patiently alice                                                                                          1
church dogmatics                                                                                         1
jesus wants all of me based on the classic devotional by oswald chambers my utmost for his highest       1
the random house book of fairy tales                                                                     1
Name: count, Length: 32932, dtype: int64

In [65]:
# extract all books rated by A14OJS0VWMOSWO
books_ratings_1[books_ratings_1['user_id'] == 'A14OJS0VWMOSWO']['title'].value_counts()

title
alices adventures in wonderland                                                                 18
great expectations                                                                              10
ulysses                                                                                         10
the white company                                                                                9
jane eyre                                                                                        7
                                                                                                ..
star in the east krishnamurtithe invention of a messiah                                          1
charms and charm bracelets the complete guide                                                    1
bon appetit every night cooking fast and fun a reallife guide to getting dinner on the table     1
tahoe deathfall                                                                                  1
communicating with orcas  the whales perspective                                                 1
Name: count, Length: 2023, dtype: int64

In [66]:
avg_rating = books_ratings_1.groupby('title')["score"].mean().rename("avg_rating")
books_data_1 = books_data_1.merge(avg_rating, on='title', how='inner')
#print(books_data_1.columns)

In [67]:
def get_n_helpful(x):
    if isinstance(x, str) and '/' in x:
        num, denom = x.split('/')
        return int(denom)
    else:
        return x

def replace_fraction(x):
    if isinstance(x, str) and '/' in x:
        num, denom = x.split('/')
        if denom == '0':
            return 0
        else:
            return int(num) / int(denom)
    else:
        return x

books_ratings_1['helpfulness_count'] = books_ratings_1['helpfulness'].apply(get_n_helpful)
books_ratings_1['helpfulness_pct'] = books_ratings_1['helpfulness'].apply(replace_fraction)

#print(books_ratings_1.sample(2))

In [68]:
#print(books_data_1.columns)

In [69]:
#def extract_year(x):
#    year1 = pd.to_datetime(x, format='mixed').year
##    print(year1)
#    return year1
    
#books_data_1['published_date'] = books_data_1['published_date'].apply(extract_year)
#p#rint(books_data_1.sample(5))

In [70]:
import os
if not os.path.exists('clean_data'):
    os.makedirs('clean_data')

# save clean data
books_data_1.to_csv('clean_data/books_data_clean.csv')
books_ratings_1.to_csv('clean_data/books_rating_clean.csv')

print("First we had {} books and {} ratings".format(len(books_data), len(books_ratings)))
print("Now we have {} books and {} ratings".format(len(books_data_1), len(books_ratings_1)))

First we had 212404 books and 3000000 ratings
Now we have 32932 books and 432820 ratings