# Finding frequent pairs

In [37]:
import pandas as pd
import numpy as np
import re

In [38]:
data = pd.read_csv('clean_data/books_data_clean.csv')
ratings = pd.read_csv('clean_data/books_rating_clean.csv')

In [39]:
print(ratings.columns)

Index(['Unnamed: 0', 'title', 'user_id', 'helpfulness', 'score', 'summary',
       'text', 'helpfulness_count', 'helpfulness_pct'],
      dtype='object')

In [40]:
print(ratings['title'].value_counts(sort=True))

title
wuthering heights                                                                        8048
pride and prejudice                                                                      7166
the picture of dorian gray                                                               4716
little women or meg jo beth and amy                                                      3294
emma                                                                                     3135
                                                                                         ...
staying sober a guide for relapse prevention based upon the cenaps model of treatment       1
the world rushed in the california gold rush experience                                     1
the naive and sentimental lover                                                             1
charms and charm bracelets the complete guide                                               1
smalltalk best practice patterns                                                            1
Name: count, Length: 32101, dtype: int64

In [41]:
print(ratings['title'].value_counts(sort=False))

title
eyewitness travel guide to europe                      3
voices from the farm adventures in community living    1
tess and the highlander                                4
communicating with orcas  the whales perspective       1
the impatient gardeners lawn book                      1
                                                      ..
rain village signed                                    4
spiders and their kin                                  3
killing mister watson                                  9
very bad deaths library edition                        9
the idea of history                                    2
Name: count, Length: 32101, dtype: int64

In [42]:
print(ratings['title'].value_counts()[0:100])

title
wuthering heights                            8048
pride and prejudice                          7166
the picture of dorian gray                   4716
little women or meg jo beth and amy          3294
emma                                         3135
                                             ...
a farewell to arms                            395
a journey to the center of the earth          383
nineteen eightyfour                           379
george orwell 1984                            378
zen and the art of motorcycle maintenance     368
Name: count, Length: 100, dtype: int64

In [43]:
print(ratings.head())

   Unnamed: 0                                              title  \
0         140                  eyewitness travel guide to europe
1         141                  eyewitness travel guide to europe
2         142                  eyewitness travel guide to europe
3         182  voices from the farm adventures in community l...
4         217                            tess and the highlander

          user_id helpfulness  score  \
0  A281NPSIMI1C2R       19/19    5.0
1  A2TAPL67U2A5HM       12/13    5.0
2   AT9YSY20RJUDX       11/13    4.0
3  A1ER5AYS3FQ9O3         6/7    5.0
4  A2VCGJLKGK2WJJ       17/18    5.0

                                             summary  \
0    The Major Sights in Twenty Countries - Amazing!
1   Europe (Eyewitness Travel Guides) by Dan Colwell
2              Helpful guide on tours through Europe
3  Intense memoir told in brief segments by forme...
4  My new favorite book from the Avon True Romanc...

                                                text  helpfulness_count  \
0  Yes, this is one heavy book. It is more than l...                 19
1  Eyewitness travel guides are splendid and this...                 13
2  I recently took a backpack trip through Europe...                 13
3  This book gave me a glimpse at life on The Far...                  7
4  Tess was washed ashore on the Isle of May duri...                 18

   helpfulness_pct
0         1.000000
1         0.923077
2         0.846154
3         0.857143
4         0.944444

A-priori algorithm

In [44]:
print(data.columns)
print(ratings.columns)

Index(['Unnamed: 0', 'title', 'description', 'authors', 'published_date',
       'categories', 'n_ratings', 'avg_rating'],
      dtype='object')
Index(['Unnamed: 0', 'title', 'user_id', 'helpfulness', 'score', 'summary',
       'text', 'helpfulness_count', 'helpfulness_pct'],
      dtype='object')

In [45]:
# get a list with books that each user reviewed 
group_by_user = ratings.groupby('user_id')['title']

In [46]:
baskets = [list(set(a[1]['title'].tolist())) for a in list(ratings.groupby('user_id'))]

In [47]:
print(baskets[0])

['20 000 leagues under the sea', 'the annotated jules verne twenty thousand leagues under the sea', 'the mysterious island', 'a journey to the center of the earth', 'twenty thousand leagues under the sea', 'journey to the centre of the earth', 'journey to the center of the earth', 'a journey to the centre of the earth']

In [48]:
### unique #items
items= ratings['title'].unique()
print(len(items))

32102

In [49]:
### hash all singletons
df_item_hash = pd.DataFrame(range(len(items)), index = list(items), columns =['hashcode'], dtype=int)
df_item_hash

                                                    hashcode
eyewitness travel guide to europe                          0
voices from the farm adventures in community li...         1
tess and the highlander                                    2
communicating with orcas  the whales perspective           3
the impatient gardeners lawn book                          4
...                                                      ...
rain village signed                                    32097
spiders and their kin                                  32098
killing mister watson                                  32099
very bad deaths library edition                        32100
the idea of history                                    32101

[32102 rows x 1 columns]

In [50]:
### count the items, store the count into the hashed array index

# item_count = pd.DataFrame(np.zeros((len(items),1)), index = list(items), columns =['count'], dtype=int)
item_count_arr = np.zeros((len(items),1))

for b in baskets:
    for item in b:
        idx = df_item_hash.loc[item,'hashcode']
        item_count_arr[idx] += 1
            
### find frequent items with support > s1 (here s1 = 0.02), and hash back from array index to items           
freq_items  = [df_item_hash[df_item_hash['hashcode']==x].index[0] for x in np.where(item_count_arr > 0.02*len(baskets))[0]] 
freq_items

# item_count_arr[item_count['count']>0.02*len(baskets)]
#freq_items['hashcode'] = list(range(1,len(freq_items)+1))

['the scarlet letter a romance',
 '1984',
 'fahrenheit 451',
 'prey',
 'of mice and men',
 'mere christianity',
 'lord of the flies',
 'emma',
 'ulysses',
 'the stranger',
 'monte cristo',
 'dune',
 'jane eyre',
 'the hobbitt or there and back again illustrated by the author',
 'little women',
 'great expectations',
 'a christmas carol in prose',
 'robert louis stevensons treasure island',
 'persuasion',
 'east of eden',
 'the scarlet letter',
 'brave new world',
 'little women or meg jo beth and amy',
 'the giver',
 'the old man and the sea',
 'frankenstein',
 'a confederacy of dunces',
 'the picture of dorian gray',
 'the great gatsby',
 'slaughterhousefive  or the childrens crusade',
 'the hitchhikers guide to the galaxy',
 'in cold blood a true account of a multiple murder and its consequences',
 'moby dick',
 'guns germs and steel the fates of human societies',
 'night',
 'the adventures of huckleberry finn',
 'a christmas carol',
 'pride and prejudice',
 'wuthering heights',
 'the fellowship of the ring',
 'the hobbit',
 'dracula',
 'heart of darkness',
 'great gatsby',
 'the fellowship of the rings',
 'the lord of the rings  boxed set',
 'to kill a mockingbird',
 'red tent',
 'atlas shrugged',
 'jonathan strange and mr norrell signed',
 'harry potter and the sorcerers stone',
 'me talk pretty one day',
 'memoirs of a geisha',
 'the grapes of wrath',
 'adventures of huckleberry finn',
 'the catcher in the rye',
 'five people you meet in heaven',
 'jane eyre complete and unabridged',
 'one for the money',
 'huckleberry finn',
 'jonathan strange and mr norrell',
 'the lincoln lawyer',
 'the poisonwood bible',
 'heart of darkness and the secret sharer',
 'angelas ashes',
 'fiesta the sun also rises',
 'slaughterhouse five',
 'catch 22',
 'treasure island',
 'a tale of two cities  literary touchstone edition',
 'the lord of the rings the fellowship of the ring',
 'the count of monte cristo golden picture classic',
 'count of monte cristo',
 'harry potter and the chamber of secrets',
 'mobydick or the whale',
 'slaughterhousefive',
 'nineteen eightyfour',
 'picture of dorian gray',
 'moby dick or the whale',
 'animal farm',
 'the sun also rises',
 'old man and the sea',
 'catch22',
 'the plot against america',
 'the scarlet letter  a romance',
 'george orwell 1984',
 'the lord of the rings box set',
 'moby dick or the white whale',
 'the count of monte cristo',
 'the golden compass',
 'the hobbit or there and back again',
 'anna karenina',
 'picture of dorian grey',
 'the red tent',
 'the lord of the rings',
 'under the banner of heaven a story of violent faith',
 'harry potter and the prisoner of azkaban',
 'a tale of two cities',
 'the count of monte cristo abridged',
 'the stand the complete and uncut edition',
 'animal farm 50th anniversary edition',
 'the lord of the rings trilogy',
 'who moved my cheese anamazing way to deal with change in your work and in your life',
 'catchtwentytwo',
 'shutter island',
 'slaughterhousefive or the childrens crusade  a dutydance with death',
 'lord of the flies a novel',
 'manhattan stories from the heart of a great city',
 'harper lees to kill a mockingbird',
 'the lord of the rings trilogy three volumes in slipcase',
 'girl with a pearl earring',
 'me talk pretty one day c',
 'jane eyre  wuthering heights',
 'christmas carol',
 'the hobbit there and back again',
 'the tipping point how little things can make a big difference',
 'john adams',
 'the catcher in the rye audiobook cd unabridged',
 'the poisonwood bible  a novel',
 'the alchemist a fable about following your dream',
 'to kill a mocking bird',
 'deception point',
 'everything on this page is for treasure island',
 'blink the power of thinking without thinking',
 'animal farm  a fairy story',
 'brave new world a novel',
 'a christmas carol one voice recordings edition',
 'middlesex unabridged audiobook',
 'the lord of the rings trilogy 3 volumes',
 'middlesex',
 'a christmas carol being a ghost story of christmas',
 'fellowship of the ring 2nd edition',
 'signature classics  great expectations',
 'the nanny diaries',
 'a christmas carol in prose being a ghost story of christmas',
 'little women or meg jo beth and amy parts i and ii',
 'the corrections',
 'a tale of two cities literary touchstone edition',
 'under the banner of heaven',
 'of mice and men hb',
 'the lord of the rings three volume boxed set']

In [51]:
### hash the frequent items (starting from 1)

df_freq_item_hash = pd.DataFrame(range(1,len(freq_items)+1), index=freq_items, columns=['hashcode'])
df_freq_item_hash

                                                  hashcode
the scarlet letter a romance                             1
1984                                                     2
fahrenheit 451                                           3
prey                                                     4
of mice and men                                          5
...                                                    ...
the corrections                                        137
a tale of two cities literary touchstone edition       138
under the banner of heaven                             139
of mice and men hb                                     140
the lord of the rings three volume boxed set           141

[141 rows x 1 columns]

In [52]:
### count the pairs using only frequent items, store the count into the (triangular) matrix.

# pair_mat = pd.DataFrame(np.zeros((len(freq_items.index),len(freq_items.index))), 
#                         columns=freq_items.index, index=freq_items.index,
#                        dtype=int)

pair_mat_hashed = np.zeros((len(freq_items)+1,len(freq_items)+1))
# n = len(freq_items)
# triangular_arr = np.zeros((n*n,))


for b in baskets:
    cand_list = [item for item in b if item in freq_items]
    if len(cand_list)<2:
        continue
    for idx, item1 in enumerate(cand_list):
        for item2 in cand_list[idx+1:]:
            i = df_freq_item_hash.loc[item1,'hashcode'] 
            j = df_freq_item_hash.loc[item2,'hashcode'] 
            #triangular_arr[triangular_encode(i,j,n)] +=1
            #pair_mat.loc[item1, item2] += 1
            pair_mat_hashed[max(i,j),min(i,j)]+=1

# pair_mat
pair_mat_hashed

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0., 28.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  4., 13., ...,  0.,  0.,  0.],
       [ 0., 26., 37., ..., 11.,  0.,  0.],
       [ 0., 10., 24., ...,  3., 10.,  0.]])

In [53]:
### extract frequent pairs that exceed support s2 (assume s2 = 0.02), and hash back.

freq_pairs = [[df_freq_item_hash[df_freq_item_hash['hashcode']==x].index[0], df_freq_item_hash[df_freq_item_hash['hashcode']==y].index[0]] for x, y in zip(*np.where(pair_mat_hashed > 0.02*len(baskets)))]
freq_pairs
# freq_pairs = [[freq_itemset[x], freq_itemset[y]] for x, y in zip(*np.where(pair_mat.values > 0.02*len(baskets)))]

[['the scarlet letter', 'the scarlet letter a romance'],
 ['little women or meg jo beth and amy', 'little women'],
 ['a christmas carol', 'a christmas carol in prose'],
 ['the hobbit',
  'the hobbitt or there and back again illustrated by the author'],
 ['great gatsby', 'the great gatsby'],
 ['the fellowship of the rings', 'the fellowship of the ring'],
 ['adventures of huckleberry finn', 'the adventures of huckleberry finn'],
 ['jane eyre complete and unabridged', 'jane eyre'],
 ['huckleberry finn', 'the adventures of huckleberry finn'],
 ['huckleberry finn', 'adventures of huckleberry finn'],
 ['jonathan strange and mr norrell', 'jonathan strange and mr norrell signed'],
 ['heart of darkness and the secret sharer', 'heart of darkness'],
 ['slaughterhouse five', 'slaughterhousefive  or the childrens crusade'],
 ['treasure island', 'robert louis stevensons treasure island'],
 ['the lord of the rings the fellowship of the ring',
  'the fellowship of the ring'],
 ['the lord of the rings the fellowship of the ring',
  'the fellowship of the rings'],
 ['the count of monte cristo golden picture classic', 'monte cristo'],
 ['count of monte cristo', 'monte cristo'],
 ['count of monte cristo', 'the count of monte cristo golden picture classic'],
 ['harry potter and the chamber of secrets',
  'harry potter and the sorcerers stone'],
 ['mobydick or the whale', 'moby dick'],
 ['slaughterhousefive', 'slaughterhousefive  or the childrens crusade'],
 ['slaughterhousefive', 'slaughterhouse five'],
 ['nineteen eightyfour', '1984'],
 ['picture of dorian gray', 'the picture of dorian gray'],
 ['moby dick or the whale', 'moby dick'],
 ['moby dick or the whale', 'mobydick or the whale'],
 ['the sun also rises', 'fiesta the sun also rises'],
 ['old man and the sea', 'the old man and the sea'],
 ['catch22', 'catch 22'],
 ['the scarlet letter  a romance', 'the scarlet letter a romance'],
 ['the scarlet letter  a romance', 'the scarlet letter'],
 ['george orwell 1984', '1984'],
 ['george orwell 1984', 'nineteen eightyfour'],
 ['the lord of the rings box set', 'the lord of the rings  boxed set'],
 ['moby dick or the white whale', 'moby dick'],
 ['moby dick or the white whale', 'mobydick or the whale'],
 ['moby dick or the white whale', 'moby dick or the whale'],
 ['the count of monte cristo', 'monte cristo'],
 ['the count of monte cristo',
  'the count of monte cristo golden picture classic'],
 ['the count of monte cristo', 'count of monte cristo'],
 ['the hobbit or there and back again',
  'the hobbitt or there and back again illustrated by the author'],
 ['the hobbit or there and back again', 'the hobbit'],
 ['picture of dorian grey', 'the picture of dorian gray'],
 ['picture of dorian grey', 'picture of dorian gray'],
 ['the red tent', 'red tent'],
 ['the lord of the rings', 'the lord of the rings  boxed set'],
 ['the lord of the rings', 'the lord of the rings box set'],
 ['harry potter and the prisoner of azkaban',
  'harry potter and the sorcerers stone'],
 ['harry potter and the prisoner of azkaban',
  'harry potter and the chamber of secrets'],
 ['a tale of two cities', 'a tale of two cities  literary touchstone edition'],
 ['the count of monte cristo abridged', 'monte cristo'],
 ['the count of monte cristo abridged',
  'the count of monte cristo golden picture classic'],
 ['the count of monte cristo abridged', 'count of monte cristo'],
 ['the count of monte cristo abridged', 'the count of monte cristo'],
 ['animal farm 50th anniversary edition', 'animal farm'],
 ['the lord of the rings trilogy', 'the lord of the rings  boxed set'],
 ['the lord of the rings trilogy', 'the lord of the rings box set'],
 ['the lord of the rings trilogy', 'the lord of the rings'],
 ['catchtwentytwo', 'catch 22'],
 ['catchtwentytwo', 'catch22'],
 ['slaughterhousefive or the childrens crusade  a dutydance with death',
  'slaughterhousefive  or the childrens crusade'],
 ['slaughterhousefive or the childrens crusade  a dutydance with death',
  'slaughterhouse five'],
 ['slaughterhousefive or the childrens crusade  a dutydance with death',
  'slaughterhousefive'],
 ['lord of the flies a novel', 'lord of the flies'],
 ['manhattan stories from the heart of a great city', 'the great gatsby'],
 ['manhattan stories from the heart of a great city', 'great gatsby'],
 ['harper lees to kill a mockingbird', 'to kill a mockingbird'],
 ['the lord of the rings trilogy three volumes in slipcase',
  'the lord of the rings  boxed set'],
 ['the lord of the rings trilogy three volumes in slipcase',
  'the lord of the rings box set'],
 ['the lord of the rings trilogy three volumes in slipcase',
  'the lord of the rings'],
 ['the lord of the rings trilogy three volumes in slipcase',
  'the lord of the rings trilogy'],
 ['me talk pretty one day c', 'me talk pretty one day'],
 ['jane eyre  wuthering heights', 'wuthering heights'],
 ['christmas carol', 'a christmas carol in prose'],
 ['christmas carol', 'a christmas carol'],
 ['the hobbit there and back again',
  'the hobbitt or there and back again illustrated by the author'],
 ['the hobbit there and back again', 'the hobbit'],
 ['the hobbit there and back again', 'the hobbit or there and back again'],
 ['the catcher in the rye audiobook cd unabridged', 'the catcher in the rye'],
 ['the poisonwood bible  a novel', 'the poisonwood bible'],
 ['to kill a mocking bird', 'to kill a mockingbird'],
 ['to kill a mocking bird', 'harper lees to kill a mockingbird'],
 ['everything on this page is for treasure island',
  'robert louis stevensons treasure island'],
 ['everything on this page is for treasure island', 'treasure island'],
 ['animal farm  a fairy story', 'animal farm'],
 ['animal farm  a fairy story', 'animal farm 50th anniversary edition'],
 ['brave new world a novel', 'brave new world'],
 ['a christmas carol one voice recordings edition',
  'a christmas carol in prose'],
 ['a christmas carol one voice recordings edition', 'a christmas carol'],
 ['a christmas carol one voice recordings edition', 'christmas carol'],
 ['the lord of the rings trilogy 3 volumes',
  'the lord of the rings  boxed set'],
 ['the lord of the rings trilogy 3 volumes', 'the lord of the rings box set'],
 ['the lord of the rings trilogy 3 volumes', 'the lord of the rings'],
 ['the lord of the rings trilogy 3 volumes', 'the lord of the rings trilogy'],
 ['the lord of the rings trilogy 3 volumes',
  'the lord of the rings trilogy three volumes in slipcase'],
 ['middlesex', 'middlesex unabridged audiobook'],
 ['a christmas carol being a ghost story of christmas',
  'a christmas carol in prose'],
 ['a christmas carol being a ghost story of christmas', 'a christmas carol'],
 ['a christmas carol being a ghost story of christmas', 'christmas carol'],
 ['a christmas carol being a ghost story of christmas',
  'a christmas carol one voice recordings edition'],
 ['fellowship of the ring 2nd edition', 'the fellowship of the ring'],
 ['fellowship of the ring 2nd edition', 'the fellowship of the rings'],
 ['fellowship of the ring 2nd edition',
  'the lord of the rings the fellowship of the ring'],
 ['signature classics  great expectations', 'great expectations'],
 ['a christmas carol in prose being a ghost story of christmas',
  'a christmas carol in prose'],
 ['a christmas carol in prose being a ghost story of christmas',
  'a christmas carol'],
 ['a christmas carol in prose being a ghost story of christmas',
  'christmas carol'],
 ['a christmas carol in prose being a ghost story of christmas',
  'a christmas carol one voice recordings edition'],
 ['a christmas carol in prose being a ghost story of christmas',
  'a christmas carol being a ghost story of christmas'],
 ['little women or meg jo beth and amy parts i and ii', 'little women'],
 ['little women or meg jo beth and amy parts i and ii',
  'little women or meg jo beth and amy'],
 ['a tale of two cities literary touchstone edition',
  'a tale of two cities  literary touchstone edition'],
 ['a tale of two cities literary touchstone edition', 'a tale of two cities'],
 ['under the banner of heaven',
  'under the banner of heaven a story of violent faith'],
 ['of mice and men hb', 'of mice and men'],
 ['the lord of the rings three volume boxed set',
  'the lord of the rings  boxed set'],
 ['the lord of the rings three volume boxed set',
  'the lord of the rings box set'],
 ['the lord of the rings three volume boxed set', 'the lord of the rings'],
 ['the lord of the rings three volume boxed set',
  'the lord of the rings trilogy'],
 ['the lord of the rings three volume boxed set',
  'the lord of the rings trilogy three volumes in slipcase'],
 ['the lord of the rings three volume boxed set',
  'the lord of the rings trilogy 3 volumes']]

### Build-in tools

In [54]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [55]:
te = TransactionEncoder()
te_ary = te.fit(baskets).transform(baskets)
df_one_hot = pd.DataFrame(te_ary, columns=te.columns_)
df_one_hot

TypeError: '<' not supported between instances of 'float' and 'str'

In [ ]:
frq_items = apriori(df_one_hot, min_support = 0.02, use_colnames = True)
frq_items['length'] = frq_items['itemsets'].apply(lambda x: len(x))
frq_items

    support                                           itemsets  length
0  0.036072                                (lord of the rings)       1
1  0.021562  (manhattan stories from the heart of a great c...       1
2  0.027847                              (pride and prejudice)       1
3  0.021671                                 (the great gatsby)       1
4  0.055491                                       (the hobbit)       1
5  0.025158                           (to kill a mocking bird)       1
6  0.021562  (the great gatsby, manhattan stories from the ...       2

In [ ]:
### reformat a little, to put the frozenset into lists

ml_freq_items = []
for i in frq_items[frq_items['length']==1].itemsets.values:
    ml_freq_items.extend(list(i))
    
ml_freq_pairs = []
for i in frq_items[frq_items['length']==2].itemsets.values:
    ml_freq_pairs.append(list(i))

### check if the frequent itemsets found by ourselves and mlxtend are the same
for i in ml_freq_items:
    if i not in freq_items:
        print(i)
        
len(ml_freq_pairs)==len(freq_pairs)

True

In [ ]:
association_rules(frq_items, metric="confidence", min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(the great gatsby),(manhattan stories from the heart of a great c...,0.021671,0.021562,0.021562,0.994949,46.1443,0.021094,193.730784,1.000000
1,(manhattan stories from the heart of a great c...,(the great gatsby),0.021562,0.021671,0.021562,1.000000,46.1443,0.021094,inf,0.999888

In [ ]:
association_rules(frq_items, metric="lift", min_threshold=1.2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(the great gatsby),(manhattan stories from the heart of a great c...,0.021671,0.021562,0.021562,0.994949,46.1443,0.021094,193.730784,1.000000
1,(manhattan stories from the heart of a great c...,(the great gatsby),0.021562,0.021671,0.021562,1.000000,46.1443,0.021094,inf,0.999888